{% extends "base.html" %}

{% block title %}SFL - First Time User{% endblock %}

{% block body_class %}{% endblock %}

{% block header%} {% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="columns is-vcentered is-centered">
      <div class="column is-half">
        <div class="box">
          <h2 class="title is-4 has-text-centered">First Time Guest</h2>
          <form method="post">
            {% csrf_token %}

            <div class="field">
              <label for="id_first_name" class="label">First Name</label>
              <div class="control">
                <input type="text" name="first_name" class="input"  required id="id_first_name" {% if first_name %} value="{{first_name}} {% endif %}" autofocus>
              </div>
            </div>  


            <div class="field">
              <label for="id_last_name" class="label">Last Name</label>
              <div class="control">
                <input type="text" name="last_name" class="input" required id="id_last_name" {% if last_name %} value="{{last_name}}" {% endif %}>
              </div>
            </div>


            <div class="field">
                <label for="id_email" class="label">@charlotte.edu email</label>
                <div class="control">
                  <input type="email" name="email" class="input" required id="id_email" {% if email %} value="{{ email }}" {% endif %} >
                </div>
              </div>

            

            <div class="field">
              <div class="control">
                <button type="submit" class="button is-primary is-fullwidth">Enter SFL</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}