{% extends "base.html" %}

{% block title %}SFL - First Time User{% endblock %}

{% block body_class %}{% endblock %}

{% block header%} {% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="columns is-vcentered is-centered">
      <div class="column is-three-quarters">
        <div class="box">
          <h2 class="title is-4 has-text-centered">First Time Guest</h2>
          <form method="post">
            {% csrf_token %}

            {% for field in form %}
              <div class="field">
                <label class="label is-text is-size-3">
                  {{ field.label }}
                </label>

                {% if field.errors %}
                  <p class="help is-danger is-size-4">
                    {{ field.errors.0 }}
                  </p>
                {% endif %}

                <div class="control">
                  {{ field }}
                </div>
              </div>
            {% endfor %}

            <div class="field">
              <div class="control">
                <button type="submit" class="button is-primary is-fullwidth">Enter SFL</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}