services:
  db:
    image: postgres:17 # Change number based on postgres version used in production
    restart: always
    container_name: db
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_ROOT_PASSWORD}
      POSTGRES_DB: fablab
    volumes:
      - pgdata:/var/lib/postgresql/data 
    ports:
      - 5432:5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready  -d fablab -U postgres"]
      interval: 10s
      retries: 10
      start_period: 60s  # Give it more time to start
      timeout: 10s

 
  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
  
  web:
    build: .  # This tells Docker Compose to build the image using the Dockerfile in the current directory
    command: /app/wait-for-it.sh db:5432 -- python manage.py runserver 0.0.0.0:8000
    restart: always
    volumes:
      - ./superfablab:/app
    depends_on:
      - db
      - rabbitmq
    environment:
      - DATABASE_URL=postgres://postgres:${POSTGRES_ROOT_PASSWORD}@db:5432/fablab
      - NINER_ENGAGE_COOKIE=${NINER_ENGAGE_COOKIE}
      - NINER_ENGAGE_TOKEN=${NINER_ENGAGE_TOKEN}
      - NINER_ENGAGE_PAYLOAD_TOKEN=${NINER_ENGAGE_PAYLOAD_TOKEN}
      - CANVAS_API_KEY=${CANVAS_API_KEY}
      - BREVO_API_KEY=${BREVO_API_KEY}
      - RABBITMQ_HOST=rabbitmq
    ports:
      - "80:8000"
  celery:
    restart: always
    build:
      context: .
    entrypoint: celery -A superfablab worker -l info 
    volumes:
      - ./superfablab:/app
    environment:
      - CELERY_BROKER_URL=amqp://guest:guest@rabbitmq:5672
      - DATABASE_URL=postgres://postgres:${POSTGRES_ROOT_PASSWORD}@db:5432/fablab
      - NINER_ENGAGE_COOKIE=${NINER_ENGAGE_COOKIE}
      - NINER_ENGAGE_TOKEN=${NINER_ENGAGE_TOKEN}
      - NINER_ENGAGE_PAYLOAD_TOKEN=${NINER_ENGAGE_PAYLOAD_TOKEN}
      - CANVAS_API_KEY=${CANVAS_API_KEY}
      - BREVO_API_KEY=${BREVO_API_KEY}
      - RABBITMQ_HOST=rabbitmq

    depends_on:
      - db
      - web
      - rabbitmq

  beat: 
    restart: always
    entrypoint: celery -A superfablab beat -l info --scheduler django_celery_beat.schedulers:DatabaseScheduler
    build:
      context: .
    volumes:
      - ./superfablab:/app
    environment:
      - CELERY_BROKER_URL=amqp://guest:guest@rabbitmq:5672
      - DATABASE_URL=postgres://postgres:${POSTGRES_ROOT_PASSWORD}@db:5432/fablab
      - NINER_ENGAGE_COOKIE=${NINER_ENGAGE_COOKIE}
      - NINER_ENGAGE_TOKEN=${NINER_ENGAGE_TOKEN}
      - NINER_ENGAGE_PAYLOAD_TOKEN=${NINER_ENGAGE_PAYLOAD_TOKEN}
      - CANVAS_API_KEY=${CANVAS_API_KEY}
      - BREVO_API_KEY=${BREVO_API_KEY}
      - RABBITMQ_HOST=rabbitmq
    depends_on:
      - web
      - rabbitmq
      - db

  node:
    image: node:18
    working_dir: /app
    volumes:
      - ./superfablab:/app
    command: sh -c "npm install && npm run build-css"

  rabbitmq:
    image: rabbitmq:4.0-management
    container_name: "rabbitmq"
    ports:
      - 5672:5672
      - 15672:15672

  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    restart: unless-stopped
    command: tunnel --no-autoupdate run
    environment:
      - TUNNEL_TOKEN=$CLOUDFLARE_TOKEN  
    ports:
      - 7844:7844



volumes:
  pgdata:
