{% extends "base.html" %}

{% block title %}SFL - Change Password{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="columns is-vcentered is-centered">
      <div class="column is-half">
        <div class="box">
          <h2 class="title is-4 has-text-centered">Change Password</h2>
          <form method="post">
            {% csrf_token %}

            

            <div class="field">
              <label for="id_new_password1" class="label">New Password</label>
              <div class="control">
                <input type="text" name="new_pasword1" class="input"  required id="id_new_password1">
              </div>
            </div>

            <div class="field">
                <label for="id_new_password2" class="label">Confirm Password</label>
                <div class="control">
                  <input type="text" name="new_pasword2" class="input"  required id="id_new_password2">
                </div>
              </div>

            <div class="field">
              <div class="control">
                <button type="submit" class="button is-primary is-fullwidth">Change Password</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}