{% extends "base.html" %}

{% block title %}SFL - Stats{% endblock %}

{% block content %}
<section class="section">
<div class="container">
    <div class="columns is-centered">

    Highest Unique Vistors on {{ highest_unique.day }} with {{ highest_unique.unique_visitors }} visitors

    </div>
</div>
</section>

<canvas id="userChart"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    fetch('/users-per-day-chart/')
      .then(response => response.json())
      .then(data => {
        const ctx = document.getElementById('userChart').getContext('2d');
        new Chart(ctx, {
          type: 'line',
          data: {
            labels: data.labels,
            datasets: [
              {
                label: 'Unique Users Per Day',
                data: data.values,
                borderColor: 'blue',
                yAxisID: 'y-users',
                fill: false
              },
              {
                label: 'Avg Visit Length (Hours)',
                data: data.avg_lengths,
                borderColor: 'green',
                yAxisID: 'y-duration',
                fill: false
              },
              {
                label: 'Total Visit Length (Hours)',
                data: data.total_time,
                borderColor: 'red',
                yAxisID: 'y-duration',
                fill: false
              }
            ]
          },
          options: {
            responsive: true,
            scales: {
              'y-users': {
                beginAtZero: true,
                position: 'left',
                title: { display: true, text: 'Unique Users' }
              },
              'y-duration': {
                beginAtZero: true,
                position: 'right',
                title: { display: true, text: 'Avg Visit Length (minutes)' },
                grid: { drawOnChartArea: false }  // Prevent grid lines from overlapping
              }
            }
          }
        });
      });
    </script>
    

{% endblock content%}
